body{
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.garden{    
    width: 65vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
}

.canvas{
    background-color: lightgreen;
    width: 70vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
}

#row-ruler{
    width: 5vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}

#row-ruler-label{
    writing-mode:vertical-rl;
    transform:rotate(180deg);
}

#column-ruler{
    width: 65vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
}
#corner{
    width: 5vw;
    height: 5vh;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
}

.box{
    position: relative;
    border-style: solid;
    border-color: brown;
    background-color: burlywood;
    width: 7%;
    height: auto;
    text-align: center;
}

.plant-img{
    border-radius: 25%;
    margin: 20%;
    width: 60%;
    height: auto;
}

#numbers-menu{
    background-color: lightgray;
    width: 30vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
}

button, input {
    border-radius: 10%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    font-size: large;
    border-radius: 10px;
}

button:hover, input:hover {
    box-shadow: 2px 2px;
    background-color: lightgoldenrodyellow; 
}

.hidden {
    display: none;
}

.menu-img {
    border-radius: 25%;
    width: 100px;
    height: auto;
}

#menu-page, #garden-page, #ranch-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

#header, #footer {
    width: 100vw;
    height: 20vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

#header{
    height: 10vh;
    background-color: lightblue;
}

#footer {
    color: gray;
    height: 5vh;
    background-color:burlywood;
}

#main-menu, #game-window {
    background-color: lightgreen;
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.sub-menu {
    height: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.correct {
    color: green;
}

.incorrect {
    color:red;
}