body{
    font-family: 'IM Fell English SC', serif;
    background-color: white;
}

h1{
   text-align: center;
   vertical-align: middle;
   color: #262626;
}


img {
   width: 20%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

li{
   font-size: x-large;
}

